.space_button {
  position: absolute;
  width: var(--width_space_button);
  height: var(--height_space_button);
  border-radius: 8px;
  box-shadow: 0px -2px 0px 2px #8b8b8b;
  background: #a5b8a2;
  box-sizing: border-box;
}

.button {
  position: absolute;
  top: -10px;
  width: var(--width_space_button);
  height: var(--height_space_button);
  font-size: 1.3em;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #a5b8a2;
  background: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px #a5b8a2;
}

.button:active {
  box-shadow: 0 5px #d0d0d0;
  transform: translateY(4px);
  -webkit-tap-highlight-color: transparent;
}

.button:disabled {
  -webkit-tap-highlight-color: transparent;
}


.button__darkblue {
  background: #044f9f;
  box-shadow: 0 9px rgb(3, 49, 99);
  color: #e4dcd0;
}
.button__darkblue:active {
  box-shadow: 0 5px rgb(50, 56, 55);
}
.button__lightgreen {
  background: #26c306;
  box-shadow: 0 9px rgb(29, 161, 3);
  color: #e4dcd0;
}
.button__lightgreen:active {
  box-shadow: 0 5px rgb(25, 121, 113);
}
.button__darkred {
  background: #8d0905;
  box-shadow: 0 9px rgb(188, 22, 16);
  color: #e4dcd0;
}
.button__darkred:active {
  box-shadow: 0 5px rgb(146, 36, 32);
}
.button__darkgreen {
  background: #45ae2d;
  box-shadow: 0 9px rgb(52, 131, 34);
  color: #e4dcd0;
}
.button__darkgreen:active {
  box-shadow: 0 5px rgb(52, 131, 34);
}
.button__lightblue {
  background: #d15508;
  box-shadow: 0 9px rgb(163, 65, 4);
  color: #e4dcd0;
}
.button__lightblue:active {
  box-shadow: 0 5px rgb(80, 110, 136);
}
