@import url("https://fonts.googleapis.com/css?family=Orbitron");
:root {
  --width_frame: 500px;
  --height_frame: 900px;
}

* {
  margin: 0px;
  padding: 0px;
}

#root,
html,
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Helvetica, sans-serif;
  overflow: hidden;
  height: 100%;
  max-height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("../img/background.jpg");
  background-repeat: no-repeat;  
  background-position: center;
}
